h1 {
    margin-bottom: .75rem;
    font-size: 3rem
}

h2 {
    margin-bottom: .5rem;
    font-size: 2rem
}

a,button {
    cursor: pointer;
    text-decoration: underline
}

ul li {
    margin-left: 1rem;
    list-style-type: disc
}

ol li {
    margin-left: 1rem;
    list-style-type: number
}

input[type="text"], select {
    margin-top: .5rem;
    margin-right: .5rem;
    padding: .25rem .5rem;
    border: 1px solid #ccc;
    border-radius: 4px
}

input[disabled], select[disabled] {
    background-color: #f9f9f9;
    color: #999;
    pointer-events: none;
    user-select: none;
}

table {
    width: 100%;
    max-width: 50rem;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
    border:#ccc 1px solid;
    border-radius: 0.25rem;
    * th, td {
        border: 1px solid #ccc;
        padding: .5rem
    }
}

/** Email App Styles */
.email-folders {
    width: 100%;
    max-width: 50rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    li {
        list-style-type: none;
        text-decoration: underline;
        cursor: pointer;
    }
}

.email-folder {
    .email-folder-row {
        border-bottom: 1px solid #ccc;
        padding: .5rem 0;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

hr {
    margin: 1rem 0 2rem 0;
    border: none;
    border-top: 1px solid #ccc;
}

.loading-indicator {
    font-style: italic;
    color: #666;
    margin-top: 1rem;
    svg
    {
        vertical-align: middle;
        margin-right: .5rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/** Star Rating Binding Styles */
.star-rating {
    display: flex;
    span { 
        width:24px;
        height:24px;
        cursor: pointer;
        &.chosen {
            svg {
                fill: gold;
                &:hover {
                    fill: orange; 
                }
            }
            &.hover svg {
                fill: orange;
            }
        }
        svg:hover, &.hover:not(.chosen) svg {
            fill: lightgray;
        }
    }
}

/** Checklist Binding Styles */